<form #confessionForm="ngForm" (ngSubmit)="onSubmit(confessionForm)">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="confessionService.selectedConfession._id">
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" id="age" name="age" #name="ngModel" [(ngModel)]="confessionService.selectedConfession.age" required>
  </div>
  <div class="form-group">
    <label for="sex">Gender:</label>
    <input type="text" class="form-control" id="sex" name="sex" #name="ngModel" [(ngModel)]="confessionService.selectedConfession.sex" required>
  </div>
  <!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> -->
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Confession:</label>
    <textarea class="form-control" name="content" #name="ngModel" [(ngModel)]="confessionService.selectedConfession.content" placeholder="Type your confession here..." rows="5"></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit" [disabled]="!confessionForm.valid">Submit</button>
    <button class="btn btn-secondary float-right" type="button" (click)="resetForm(confessionForm)">Reset</button>
  </div>
</form>