{{message}}
<form #resetForm="ngForm" (ngSubmit)="resetForm.valid && onSubmit(resetForm)">
    <div class="form-group">
      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4"
        [ngClass]="{'invalid-textbox' :resetForm.submitted && !password.valid }">
      <div *ngIf="resetForm.submitted && password.errors?.minlength">
        <label class="validation-message">Minimum 4 characters.</label>
      </div>
    </div>
    <input type="hidden" name="token" #token="ngModel" [(ngModel)]="model.token">
    <button class="btn btn-primary" type="submit">Reset</button>
</form>