<!--<app-confession-list></app-confession-list>-->
<nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/submit" routerLinkActive="active">Submit Your Confession</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/userprofile" routerLinkActive="active">Profile</a></li>
    </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>