<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 confession-tiles tile-shadow" *ngFor="let confsn of confessionService.confessions | filterbystatus:'approved'">
        <div><span style="padding: 5px;">Age: {{confsn.age}}</span><span style="padding: 5px;">Gender: {{confsn.sex}}</span></div>
        <div style="border-top:1px solid; padding: 10px;">{{confsn.content}}</div>
        <div><span style="padding: 5px;">{{confsn.likes}} people like this.</span></div>
        <i (click)="liked(confsn)" class="far fa-heart like-btn"></i>
        <div class="comment-section" style="border-top:1px solid">
          <div class="comment-tile" *ngFor="let commentloop of confsn.comments">
            <div>Commented by: {{commentloop.username}}</div>
            <div>Commented on: {{commentloop.createdAt | date :'medium'}}</div>
            <div>{{commentloop.comment}}</div>
          </div>
          <form #commentForm="ngForm" (ngSubmit)="commentSubmit(commentForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="confsn._id">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" id="username" name="username" #name="ngModel" *ngIf="userDetails" [(ngModel)]="userDetails.fullName" required>
            </div>
            <div class="form-group" style="border-top:1px solid">
              <label for="comment">Comment:</label>
              <textarea class="form-control" name="comment" #name="ngModel" [(ngModel)]="confsn.comment" placeholder="Type your comment here..." rows="2"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit" [disabled]="!commentForm.valid">Submit</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>