<table *ngIf="userDetails" class="user-profile-table">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User Name</td>
            <td>{{userDetails.userName}}</td>
        </tr>
        <!-- <tr>
            <td>Last Name</td>
            <td>{{userDetails.userName.split(' ')[1]}}</td>
        </tr> -->
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <button class="btn btn-primary" type="button" (click)="userService.onLogout()">Logout</button>
                <!-- <input type="button"  value="Logout" /> -->
            </td>
        </tr>
    </tbody>
  </table>
  